/*
Error: File to import not found or unreadable: grid-settings.
       Load paths:
         /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/scss/_old
         /Applications/CodeKit.app/Contents/Resources/engines/bourbon
         /Applications/CodeKit.app/Contents/Resources/engines/neat
         /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation/scss
         /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation-sites/scss
         /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation-sites
         /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/motion-ui
         Sass::Globbing::Importer
        on line 6 of /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/scss/_old/style.scss

1: // NORMALIZE.CSS
2: @import "style/settings/_normalize.scss";
3: 
4: // BOURBON-NEAT FILES
5: @import "bourbon";
6: @import "grid-settings";
7: @import "neat";
8: 
9: // STYLE COMPONENTS
10: @import "style/components/_typography.scss";
11: @import "style/components/_resets.scss";

Backtrace:
/Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/scss/_old/style.scss:6
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:420:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: grid-settings.\A        Load paths:\A          /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/scss/_old\A          /Applications/CodeKit.app/Contents/Resources/engines/bourbon\A          /Applications/CodeKit.app/Contents/Resources/engines/neat\A          /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation/scss\A          /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation-sites/scss\A          /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/foundation-sites\A          /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/bower_components/motion-ui\A          Sass::Globbing::Importer\A         on line 6 of /Users/nico/SNC Projects/CABC/Site Folder/clementsathleticboosterclub.org/scss/_old/style.scss\A \A 1: // NORMALIZE.CSS\A 2: @import \"style/settings/_normalize.scss\";\A 3: \A 4: // BOURBON-NEAT FILES\A 5: @import \"bourbon\";\A 6: @import \"grid-settings\";\A 7: @import \"neat\";\A 8: \A 9: // STYLE COMPONENTS\A 10: @import \"style/components/_typography.scss\";\A 11: @import \"style/components/_resets.scss\";"; }
