@import "../../_settings.scss";

$width-700: "only screen and (max-width : 43.750em)";
$width-440: "only screen and (max-width : 27.500em)";

section#golf-tournament-banner {
	height: rem-calc(600);
	width: 100%;
	background: #fff url('#{$url}/img/events/golf-tournament/index/banner-bg.jpg') no-repeat center top;
	background-size: cover;
	border-bottom: rem-calc(4) solid $dark-blue;
	margin-bottom: rem-calc(30);
	padding: rem-calc(50) 0 0;
	text-align: center;
	padding: rem-calc(55) rem-calc(14) rem-calc(30);

	@media #{$width-700} {
		background: #fff url('#{$url}/img/events/golf-tournament/index/banner-bg%40700.jpg') no-repeat right top;
	}

	@include breakpoint(small only) {
		height: auto;
	}

	* {
		text-shadow: 0 rem-calc(2) rem-calc(4) #000;
		color: #fff;
	}

	h2#banner-header {
		line-height: 1.2;
		margin-bottom: rem-calc(20);

		span {
			display: block;
		}

		span#annual {
			@extend .body;
			letter-spacing: rem-calc(2);
			font-size: rem-calc(24);
			text-transform: uppercase;
		}
		span#name {
			font-size: rem-calc(62);
		}
		span#tournament {
			font-size: rem-calc(46);
		}

		@include breakpoint(small only) {
			span#annual {
				font-size: rem-calc(20);
			}
			span#name {
				font-size: rem-calc(40);
			}
			span#tournament {
				font-size: rem-calc(30);
			}
		}
	}

	h3#benefiting {
		font-size: rem-calc(26);
		margin-bottom: rem-calc(20);
	}

	h3#date-time {
		font-size: rem-calc(26);
		letter-spacing: rem-calc(2);
		margin-bottom: rem-calc(40);
	}

	.c2a-button {
		a {
			@extend .title;
			text-shadow: none;
			font-size: rem-calc(24);
			color: #000;

			display: block;
			width: rem-calc(400);
			margin: 0 auto;

			background: #fff;
			padding: rem-calc(8);
			border-radius: rem-calc(5);
			border: rem-calc(2) solid $dark-blue;
			box-shadow: $z-5;

		    // @include transition (background-color 200ms ease-out 0s);
		    // @include transition (color 200ms ease-out 0s);

			&:hover {
				box-shadow: $z-2;
				background: $light-blue;
				color: #fff;
				border: rem-calc(2) solid #fff;
			}
		}

		@media #{$width-440} {
			a {
				width: auto;
			}
		}
	}
}

