@import "../settings/_settings.scss";

$max-540: "only screen and (max-width : 540px)";
$max-480: "only screen and (max-width : 480px)";

nav#header-nav {

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin: 0 em(14) em(12) 0;

			a {
				font-family: $header-font-family;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media #{$max-540} {
	nav#header-nav {
		padding-left: em(12);
	}
}

@media #{$max-480} {
	nav#header-nav {
		ul {
			li {
				a {
					font-size: rem(14);
				}
			}
		}
	}	
}