@import "../../../_settings.scss";

body#cabc-golf-tournament-2016 {
	main {

		#signup-contact {
			margin-bottom: em(100);
			#question {
				font-size: rem(48);
			}
			#c2a {
				font-size: rem(58);
				margin-bottom: rem(50);
			}
			p#info {
				line-height: 1.4;
				font-size: rem(31);
				margin-bottom: rem(46);

				span {
					display: block;
				}
				span#name {
					font-size: rem(42);
				}
				span#position {
					font-size: rem(24);
					color: #666;
				}
			}

			#phone,
			#email {
				line-height: 1.4;
				margin-bottom: 0;
				font-size: rem(31);

				i {
					color: $dark-blue;
					font-size: rem(46);
				}
			}
		}
	}
}


