@import "../../../_settings.scss";

$width-620: "only screen and (max-width : 38.750em)";


#cabc-golf-tournament-2016 {
	main {

		#signup-contact {
			margin-bottom: rem-calc(100);
			padding-bottom: rem-calc(100);

			.blue-banner {
				background: $light-blue;
				padding: rem-calc(30) 0;
				margin-bottom: rem-calc(50);

				#c2a {
					font-size: rem-calc(50);
					line-height: 1.2;
					margin: 0;
					color: #fff;
					text-shadow: 0 rem-calc(2) rem-calc(1) #000;

					@include breakpoint(medium) {
						font-size: rem-calc(58);
					}
				}
			}

			.white-banner#download {
				background: #fff;
				padding: rem-calc(25);
				border-top: rem-calc(5) solid $dark-blue;
				border-bottom: rem-calc(5) solid $dark-blue;
				margin-bottom: rem-calc(40);

				h3 {
					margin-bottom: rem-calc(36);
				}

				a {
					@extend .title;
					color: #fff;
					background: $dark-blue;
					border-radius: rem-calc(5);
					border: rem-calc(2) solid $light-blue;
					font-size: rem-calc(31);
					margin-bottom: rem-calc(22);

					@include breakpoint(small only) {
						display: block;
						margin: 0 !important;
					}
				}

				a#pdf {
					padding: rem-calc(10) rem-calc(36) rem-calc(12);

					@include breakpoint(medium) {
						margin-right: rem-calc(30);
					}

					@include breakpoint(small only) {
						margin-bottom: rem-calc(22) !important;
					}
				}

				a#word {
					padding: rem-calc(10) rem-calc(20) rem-calc(12);

					@include breakpoint(medium) {
						margin-left: rem-calc(30);
					}
				}
			}

			.row#buttons {
				margin-bottom: rem-calc(40);
			}

			#appeal {
				line-height: 1.4;
				font-size: rem-calc(24);
				margin-bottom: rem-calc(46);

				@include breakpoint(medium) {
					font-size: rem-calc(31);
				}
			}

			p#info {
				line-height: 1.4;
				font-size: rem-calc(31);
				margin-bottom: rem-calc(24);

				span {
					display: block;
				}
				span#name {
					font-size: rem-calc(42);
				}
				span#position {
					font-size: rem-calc(24);
					color: #666;
				}
			}

			#phone,
			#email {
				line-height: 1.4;
				margin-bottom: 0;
				font-size: rem-calc(31);

				i {
					color: $dark-blue;
					font-size: rem-calc(46);
				}
			}
			
			@media #{$width-620} {
				#phone,
				#email {
					font-size: rem-calc(24);

					span {
						display: block;
					}
				}
			}

			@include breakpoint(small only) {
				#question {
					font-size: rem-calc(30);
				}
				#c2a {
					font-size: rem-calc(34);
				}

				p#info {
					font-size: rem-calc(24);

					span#name {
						font-size: rem-calc(32);
					}
				}
			}
		}
	}
}



