@import "../../../_settings.scss";

$width-400: "only screen and (max-width : 25em)";


#cabc-golf-tournament-2016 {
	main {

		#signup-contact {
			margin-bottom: em(100);
			padding-bottom: em(100);

			.blue-banner {
				background: $light-blue;
				padding: em(30) 0;
				margin-bottom: em(50);

				#c2a {
					font-size: rem(50);
					line-height: 1.2;
					margin: 0;
					color: #fff;
					text-shadow: 0 rem(2) rem(1) #000;

					@include breakpoint(medium) {
						font-size: rem(58);
					}
				}
			}

			#appeal {
				line-height: 1.4;
				font-size: rem(24);
				margin-bottom: rem(46);

				@include breakpoint(medium) {
					font-size: rem(31);
				}
			}

			p#info {
				line-height: 1.4;
				font-size: rem(31);
				margin-bottom: rem(46);

				span {
					display: block;
				}
				span#name {
					font-size: rem(42);
				}
				span#position {
					font-size: rem(24);
					color: #666;
				}
			}

			#phone,
			#email {
				line-height: 1.4;
				margin-bottom: 0;
				font-size: rem(31);

				i {
					color: $dark-blue;
					font-size: rem(46);
				}
			}
			
			@media #{$width-400} {
				#phone,
				#email {
					font-size: rem(24);

					span {
						display: block;
					}
				}
			}

			@include breakpoint(small only) {
				#question {
					font-size: rem(30);
				}
				#c2a {
					font-size: rem(34);
				}

				p#info {
					font-size: rem(24);

					span#name {
						font-size: rem(32);
					}
				}
			}
		}
	}
}



