@import "../../../_settings.scss";

body#cabc-golf-tournament-2016 {
	main {

		#sponsorship-section {
			.sponsorship-name {
				margin-bottom: 0;
			}
			.sponsorship-value {
				font-size: rem(30);
				margin-bottom: rem(18);	
			}
		}
	}
}


