@import "../../../_settings.scss";

body#cabc-golf-tournament-2016 {
	main {

		#testimonial {

			#cabc-badge {
				position: relative;
				height: em(220);

				img {
					padding-right: em(14);
					@include vertical-center;
				}
			}

			#quote {
				position: relative;
				height: em(220);

				.wrapper {
					@include vertical-center;

					blockquote {
						color: #000;
						font-size: rem(18);

						cite {
							color: #666;
							font-size: rem(18);
						}
					}
				}
			}
		}
	}
}


