@import "../../../_settings.scss";


#cabc-golf-tournament-2016 {
	main {

		#testimonial {
			margin-bottom: rem-calc(50);

			#cabc-badge {
				margin-bottom: rem-calc(40);
				text-align: center;
			}

			#quote {
				blockquote {
					color: #000;
					font-size: rem-calc(18);

					cite {
						color: #666;
						font-size: rem-calc(18);
					}
				}
			}

			@include breakpoint(medium) {
				#cabc-badge {
					position: relative;
					height: rem-calc(220);
					margin-bottom: 0;
					text-align: left;

					img {
						padding-right: rem-calc(14);
						@include vertical-center;
					}
				}

				#quote {
					position: relative;
					height: rem-calc(220);

					.wrapper {
						@include vertical-center;
					}
				}
			}
		}
	}
}


