@import "../../../_settings.scss";

#cabc-golf-tournament-2016 {
	main {
		#tournament-tag {
			margin-bottom: rem-calc(40);
			padding-top: rem-calc(12);

			p {
				font-size: rem-calc(25);
				text-align: center;
			}

			@include breakpoint(small only) {
				p {
					font-size: rem-calc(18);
				}
			}
		}
	}
}


