@import "../../../_settings.scss";

body#cabc-golf-tournament-2016 {
	main {

		#tournament-deets {
			margin-bottom: em(60);

			.content-box {
				border: em(2) solid $light-blue;
				border-radius: em(4);
				box-shadow: $z-3;
				background: #fff;
				position: relative;
				margin-bottom: em(30);

				@include breakpoint(medium only) {
					height: em(250);
				}

				.prose {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					z-index: 1;
					padding: em(20) 0;

					h3 {
						margin-bottom: rem(12);

						@include breakpoint(small only) {
							font-size: rem(28);
						}
					}

					p {
						line-height: 1.3;
						font-size: rem(22);
						margin-bottom: rem(12);

						@include breakpoint(medium only) {
							font-size: rem(20);
						}
					}
				}
				
				.icon-bg {
					padding: em(10);
				}

				.icon-bg:after {
					font-family: 'cabc';
					color: #E8E8E8;
					font-size: rem(180);
					line-height: 1;
					display: block;
				}
			}
		}

		.content-box#when {
			.icon-bg:after {
				content: '\63';
			}
		}

		.content-box#where {
			.icon-bg:after {
				content: '\6d';
			}
		}

		.content-box#cost {
			.icon-bg:after {
				content: '\64';
			}
		}
	}
}


