@import "../../../_settings.scss";

body#cabc-golf-tournament-2016 {
	main {
		#tournament-hero {
			padding: em(55) 0 em(30);
			border-bottom: em(5) solid $light-blue;
			
			h2#banner-header {
				line-height: 1.2;
				margin-bottom: rem(20);

				span {
					display: block;
				}

				span#annual {
					@extend .body;
					letter-spacing: rem(2);
					font-size: rem(24);
					text-transform: uppercase;
				}
				span#name {
					font-size: rem(62);
				}
				span#tournament {
					font-size: rem(46);
				}
			}
		}
	}
}


