@import "../settings/_settings.scss";

$max-955: "only screen and (max-width : 955px)";

nav#header-nav {

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin: 0 em(14) em(12) 0;

			a {
				font-family: $header-font-family;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media #{$max-955} {
	nav#header-nav {
		// margin-top: em(35);

		ul {
			// float: left;
		}
	}
}