@import "../_settings.scss";
@import "typography/_fonts.scss";

.title {
	font-family: $custom-header-font-family;
	font-weight: $custom-header-font-weight;
}

.body {
	font-family: $body-font-family;
}