@import "../_settings.scss";


.inline-block {
	display: inline-block;
}

.p-y {
	padding: rem-calc(16) 0;
}

.p-x {
	padding: 0 rem-calc(16);
}

.p-0 {
	padding: 0;
}

.m-y {
	margin: rem-calc(16) 0;
}

.m-x {
	margin: 0 rem-calc(16);
}

.m-0 {
	margin: 0;
}

.vertical-wrapper {
	// @include vertical-center;
}