@import "../_settings.scss";

$max-770: "only screen and (max-width : 770px)";
$max-540: "only screen and (max-width : 33.750em)";

body {
	background: #E8E8E8 url('#{$url}/img/assets/bg/bg.png') repeat;
}

#logo-shade {
	position: absolute;
	z-index: -55;
	width: 100%;
	height: 1000px;
	top: 0;
	left: 0;
	background: url('#{$url}/img/assets/bg/logo-shade.png') no-repeat left top;

	@media #{$max-770} {
		background-size: em(300);
	}

	@media #{$max-540} {
		background-size: em(240);
	}
}
