@import "../_settings.scss";


p#colophon {
	margin-top: rem(26);
	letter-spacing: 1.2px;
	text-decoration: none;
	font-size: rem(10);

	a {
		color: #ccc;

		span {
			text-decoration: underline;
			color: #ccc;
		}

		&:hover {
			text-decoration: underline;
			color: #fff;

			span {
				color: #fff;
			}
		}
	}
}

footer {
	background: #666;
	padding: 0 em(16) em(30);

	* {
		color: #fff;
		margin: 0;
	}

	#tricolor {
		float: right;
		line-height: 0;
		// margin-bottom: rem(16);

		span {
			height: rem(10);
			width: rem(150);
			display: inline-block;
		}
		span#white {
			background: #fff;
		}
		span#light-blue {
			background: $light-blue;
		}
		span#navy-blue {
			background: $dark-blue;
		}
	}

	.site-nav,
	.footer-info {
		padding-top: em(28);

		h4 {
			font-size: rem(16);
			margin-bottom: rem(8);
		}

		p {
			font-size: rem(14);
			margin-bottom: rem(6);
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-info {
		text-align: right;

		.school-details {
			margin-bottom: em(24);
		}
	}

	.site-nav {
		// padding-top: em(28);

		nav#footer-nav {
			ul {
				display: inline-block;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					margin-bottom: em(6);

					a {
						font-size: rem(14);
					}
				}
			}
			ul#column-2 {
				margin-left: em(55);
			}
		}
	}
}
@include breakpoint(medium only) {
	footer {
		#tricolor {
			span {
				width: rem(100);
			}
		}
	}
}

@include breakpoint(small only) {
	footer {
		#tricolor {
			span {
				width: rem(80);
			}
		}
		.site-nav,
		.footer-info {
			text-align: center;
		}
	}
}

