@import "../_settings.scss";

header {
	padding-top: em(18);

	address {
		float: right;
		font-size: rem(18);
		padding-right: em(18);
	}

	#masthead {
		margin-bottom: em(26);

		#site-name {
			padding-top: rem(22);

			h1 {
				margin: 0;
			}

			h2 {
				font-size: rem(31);
			}
		}
	}
}