@import "../_settings.scss";

nav {
	background: #fff;
	border-top: em(3) solid $dark-blue;
	border-bottom: em(3) solid $dark-blue;

	ul.menu {
		li {
			a {
				color: #000;
				padding: rem(18);
				@extend .title;
			}
		}

		li.active,
		li:hover {
			background: $dark-blue;

			a {
				color: #fff;
			}
		}
	}
}