@import "../_settings.scss";

$width-770: "only screen and (max-width : 48.125em)";

nav {
	background: #fff;
	border-top: em(3) solid $dark-blue;
	border-bottom: em(3) solid $dark-blue;

	ul.menu {
		li {
			a {
				color: #000;
				padding: rem(18);
				@extend .title;

				@include breakpoint(small only) {
					padding: rem(18) rem(12);
				}
			}
		}

		li.active,
		li:hover {
			background: $dark-blue;

			a {
				color: #fff;
			}
		}

		@media #{$width-770} {
			li {
				border-right: rem(4) solid $dark-blue;
			}

			li#last {
				border-right: 0;
			}
		}
	}
}